body {
  background-image: url('chubbybackground.jpg');
  background-repeat: repeat;
  background-attachment: fixed;  
  background-size: 5%;
}
header {
  color: blue;
  padding: 20px;
  text-align: center;
  font-family: copperplate;
  font-size: 3vw;
}
p {
  color:blue;
  background-color:transparent;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:150%
}
footer {
  background-color:transparent;
  padding: 10px;
  text-align: center;
  color:blue;
}